:root {
  /* BYOMA PALETE */
  --BYOMA-1: #c2e5f2;
  --BYOMA-2: #f2e399;
  --BYOMA-3: #f2913d;
  --BYOMA-4: #f25c05;
  --BYOMA-5: #f24405;

  --color01: #946e83;
  --color02: #102542; 
  --color03: #4e8098;
  --color04: #ffb86f;
  --color05: #f2edeb;

link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300;700&family=Major+Mono+Display&family=Poiret+One&family=Quantico:wght@400;700&display=swap" rel="stylesheet"

font-family: 'Architects Daughter', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Poiret One', cursive;
font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-shadow: 2px 2px var(--BYOMA-1);
  align-items: center;
  padding: 0 60px;
  text-align: left;
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: bold;
  
}
h2 {
  color: var(--BYOMA-1)
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;

}

.first-page {
 background-color: var(--color03);
 color: var(--color04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  margin: 0;
  padding: 0;
}

.second-page {
 
  color: var(--color02);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
}

.images {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  display: none;
}

.img {
  height: 600px;
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-box:nth-of-type(1),
.img-box:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-number {
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: var(--color02);
}


.start-btn {
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--color02);
  color: var(--color05);
  
}

.hidden {
  display: none;
}

.message {
  color: var(--color02)
}

